section.home {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    gap: 2rem;
    color: var(--font-color);
}

.home div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home div h1 {
    font-size: 2.5rem;
}

.home div h1 span {

    background: linear-gradient(90deg, #fcb0f3 0%, #3e04dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: text 3s infinite linear;
    animation-timing-function: ease-in-out;
}

.home div h2 {
    font-size: 1.5rem;
}

.home div:nth-of-type(2)>div {
    height: 308px;
    width: 261px;
    background-image: url(/1.png);
    background-repeat: no-repeat;
}

@keyframes text {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: -200% center;
    }
}

@media screen and (min-width:800px) {
    section.home {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .home div h1 {
        font-size: 5rem;
    }

    .home div h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    section.home:nth-child(1) {
        max-width: 550px;
        align-self: flex-start;
    }

    .home div:nth-of-type(2)>div {
        height: 457px;
        width: 386px;
        background-image: url(/2.png);
        background-repeat: no-repeat;
    }
}

.blue {
    --bg-color: #457b9d;
    --font-color: #f1faee;
    --gradient: linear-gradient(90deg, hsla(266, 63%, 26%, 1) 0%, hsla(354, 55%, 63%, 1) 100%, hsla(31, 100%, 74%, 1) 100%);

}

.green {
    --bg-color: #606c38;
    --font-color: #fefae0;
    --gradient: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
}

.purple {
    --bg-color: #5e548e;
    --font-color: #e0b1cb;
    --gradient: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
}
.purple {
    --bg-color: #5e548e;
    --font-color: #e0b1cb;
    --gradient: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
}
.red {
    --bg-color: #bb9457;
    --font-color: #ffe6a7;
    --gradient: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
}
.dark {
    --bg-color: #9a8c98;
    --font-color: #f2e9e4;
    --gradient: linear-gradient(90deg, #fcb0f3 0%, #3e04dc 100%);
}