section.home {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #433C67;
    gap: 2rem;
    color: white;
}

.home div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home div h1 {
    font-size: 2.5rem;
}

.home div h1 span {
    
    background: linear-gradient(90deg, hsla(284, 80%, 10%, 1) 0%, hsla(290, 25%, 76%, 1) 100%);
    /* background: linear-gradient(90deg, hsla(228, 17%, 53%, 1) 0%, hsla(229, 28%, 88%, 1) 100%); */
    /* background: linear-gradient(90deg, #fcb0f3 0%, #3e04dc 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: text 3s infinite linear;
    animation-timing-function: ease-in-out;
}

.home div h2 {
    font-size: 1.5rem;
}
.home div:nth-of-type(2) > div{
    height: 308px;
    width: 261px;
    background-image: url(../../public/1.png);
    background-repeat: no-repeat;
}
@keyframes text {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: -200% center;
    }
}
@media screen and (min-width:800px) {
    section.home{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    .home div h1{
        font-size: 5rem;
    }
    .home div h2{
        font-size: 2rem;
        font-weight: 500;
    }
    section.home:nth-child(1) {
        max-width: 550px;
        align-self: flex-start;
    }
    .home div:nth-of-type(2) > div{
        height: 457px;
        width: 386px;
        background-image: url(../../public/2.png);
        background-repeat: no-repeat;
    }
}
