.sidebar {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: var(--bg-color);
    z-index: 2;
    transform: translateX(100vw);
    animation: sidebar 0.5s forwards;
    display: grid;
    align-items: center;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
}

.sidebar li {
    gap: 2rem;
    font-size: 2rem;
    text-indent: 2rem;
}

.sidebar li::marker {
    content: '#';
    font-size: 2rem;
    color: var(--font-color);
}

@keyframes sidebar {
    0% {
        transform: translateY((100vw));
    }

    100% {
        transform: translateY(0vw);
    }
}

@media screen and (min-width:600px) {
    .sidebar {
        display: none;
    }
}

.blue {
    --bg-color: #1D3557;
    --font-color: #E3C899;
}

.green {
    --bg-color: #283618;
    --font-color: #FEFAE0;
}
.purple {
    --bg-color: #231942;
    --font-color: #e0b1cb;
}
.red{
    --bg-color: #6f1d1b;
    --font-color:#ffe6a7;
}
.dark{
    --bg-color: #22223b;
    --font-color:#f2e9e4;
}