.skills {
    display: grid;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem; */
    background-color: rgb(27, 27, 27);
    padding-block: 3rem;
    overflow-x: scroll;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/2);
    gap: 1rem;
    /* width: 100%; */

}

.skills div {
    margin-inline: auto;
}

.skillcard {
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    position: relative;
}

.skillcard img {
    height: 100px;
    object-fit: cover;
    z-index: 1;
}

.skillcard .imagebg {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: var(--skill-bg-color);
    z-index: 0;
    border-radius: 50%;
    transition: filter 0.4s ease-in;
}



.skillcard:nth-of-type(1) {
    --skill-bg-color: #F16529;
}

.skillcard:nth-of-type(2) {
    --skill-bg-color: #264DE4;
}

.skillcard:nth-of-type(3) {
    --skill-bg-color: #F7DF1E;
}

.skillcard:nth-of-type(4) {
    --skill-bg-color: #00a0cc;
}

.skillcard:nth-of-type(5) {
    --skill-bg-color: #007eb4;
}
.skillcard:nth-of-type(6) {
    --skill-bg-color: #68a063;
}
.skillcard:nth-of-type(7) {
    --skill-bg-color: #477091;
}
.skillcard:nth-of-type(8) {
    --skill-bg-color: #82a26e;
}

@media screen and (min-width:768px) {
    .skills {
        /* grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr); */
        grid-auto-columns: calc(100%/3);
    }

    .skillcard {
        height: 300px;
        width: 300px;
    }

    .skillcard .imagebg {
        position: absolute;
        height: 150px;
        width: 150px;
        background-color: var(--skill-bg-color);
        z-index: 0;
        filter: blur(40px);
        border-radius: 50%;
        transition: filter 0.4s ease-in;
    }

    .skillcard:hover .imagebg {
        filter: blur(60px);
    }

}

@media screen and (min-width:1024px) {
    .skills {
        grid-auto-columns: calc(100%/5);
    }
}
/* @media screen and (min-width:1536px) {
    .skills {
        grid-auto-columns: calc(100%/5);
    }
} */